body{
    background-image: url("kcvbgr.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-y;
}
div h3{
    text-align: right;
    font-family: "IRANSansWeb Medium";
}
#myphoto{
    max-width: 20%;
    max-height: 20%;
   margin: 5% 40% ;
   position: center;
   border-radius: 50% 50% 50% 50%;
}
div h5{
    text-align: right;
    margin-right: 30%;
    font-family: "IRANSansWeb Medium";
    font-size: 1vw;
}
h5 img{
    width: 1.5vw;
    height:1.4vw;
}
#kicons{
    margin-left:1vw;
}

.sketchy {
     padding: 2vw 4vw;
     display: inline-block;
     border: 3px solid #333333;
     border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
     font-size: 1vw;
     letter-spacing: 0.3ch;
     background: #ffffff;
     position: center;
     margin: 0% 30% ;
     &:: before {
         content: '';
         border: 2px solid #353535;
         display: block;
         max-width: 100%;
         max-height: 100%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
         border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
     }