body{
    background-image: url("kcvbgr.jpg");
    background-size:cover;
    background-repeat: repeat-y;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
div h2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

div h4{
    font-family: sans-serif;
    color: rgb(240, 13, 153);
}

h4 a{
    font-family: sans-serif;
    color: rgb(240, 13, 153);
}

#myphoto{
    pointer-events: none;
    width: 32rem;
    height: 40rem;
    border-radius: 50% 50% 50% 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#mypic{
    display :flex;
    justify-content: center;

}

.footer-icons{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem ;
    margin-top: 1rem;
}

#phone-icon{
    /* margin-left: 15rem; */
    margin-right: 2rem;
}

#linkedin-icon{
    margin-right: 2rem;
}

.progress {
    display: flex;
    height: 2rem !important;
    overflow: hidden;
    font-size: 1.3rem !important;
    background-color: #e9ecef;
    border-radius: .25rem;
}

#footer{
    display: flex;
    justify-content: center;
}


.sketchy {
     padding: 2vw 4vw;
     display: inline-block;
     border: 3px solid #333333;
     border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
     font-size: 1vw;
     letter-spacing: 0.3ch;
     background: #ffffff;
     position: center;
     margin: 0% 30% ;
     &:: before {
         content: '';
         border: 2px solid #353535;
         display: block;
         max-width: 100%;
         max-height: 100%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
         border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
     }





